<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Management content</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  </head>
  <body>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>

<body>
  <div class="section"></div>
  <main>
    <center>
      <h5 class="indigo-text">Hello #{root.username}!</h5>
      <div class="section"></div>
      <a href="/logout" class="waves-effect waves-light btn"><i class="material-icons right">input</i>Logout</a>
    </center>
    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>